body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #111;
    color: white;
    text-align: center;
}
header{
    background: #222;
    padding: 15px;
}
a{
    color: cyan;
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
}
.game-container{
    margin-top: 30px;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
canvas{
    background: black;
    margin-top: 20px;
}